html {
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica;
    opacity: 0.9;
    color: seashell;
    font-size: 22px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    height: 70px;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo {
    height: 100%;
    width: 50%;
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}

#logo img {
    height: 50px;
    width: auto;
}

nav {
    height: 100%;
    width: 50%;
    float: right;
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 10px;
}

nav ul {
    list-style-type: none;
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    text-align: center;
}

nav a {
    color: seashell;
}

main {
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#banner {
    background-image: url("../images/img-mission-background.jpg");
    width: 1200px;
    height: 700px;
    display: flex; 
    align-items: center;
}

#banner-strip {
    width: 100%;
    text-align: center;
    background-color: black;
    opacity: 0.9;
}

h2, h4 {
    margin: 0.75rem auto;
}

#tea-month {
    scroll-margin-top: 70px;
}

article {
    width: 1000px;
    margin: 75px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article h2, h4 {
    flex-basis: 100%;
    text-align: center;
}

article figure {
    margin: 10px;
}

article img {
    height: 200px;
    width: 300px;
}

#locations {
    height: 500px;
    width: 1200px;
    background-image: url("../images/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template: 1fr 3fr / repeat(3, 300px);
    grid-template-areas: "title title title"
                         "downtown east-bayside oakdale";
    grid-gap: 15px 40px;
    justify-content: center;
}

#locations h2 {
    align-self: end;
    margin-bottom: 0;
}

#locations p {
    margin: 2rem auto;
}

#locations div {
    background-color: black;
    width: 300px;
    text-align: center;
    align-self: start;
    opacity: 1;
}

#locations h2 {
    grid-area: title;
}

#downtown {
    grid-area: downtown;
}

#east-bayside {
    grid-area: east-bayside;
}

#oakdale {
    grid-area: oakdale;
}

footer {
    position: relative;
    top: 70px;
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}

footer address {
    height: 200px;
    text-align: center;
    font-style: normal;
}

footer a {
    text-decoration: none;
    font-weight: normal;
    color: seashell;
}
